<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>西西里上海商会投资有限公司</title>
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/font/iconfont.css" />
		<link rel="stylesheet" href="css/slidorion.css" />
		<link rel="stylesheet" href="css/animate.min.css" />
		<!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
	</head>

	<body>
		<div class="headerbox">
			<div class="header_top fixedNav">
				<div class="container topheader default ">
					<div class="row">
						<div class="logo col-lg-3 col-md-3 col-sm-3">
							<img src="img/logo.png">
						</div>
						<ul class="navlist col-lg-9 col-sm-9 col-md-9">
							<li class="active">
								<a href="">首页</a>
							</li>
							<li>
								<a href="">关于</a>
							</li>
							<li>
								<a href="">案例</a>
							</li>
							<li>
								<a href="">服务</a>
							</li>
							<li>
								<a href="">联系</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="bs-docs-example banner-xm">
				<img src="img/90.jpg">
				<div class="xm-detail wow fadeInUp">
					<h2>
		        		公司正在筹建的各大市政项目
		        	</h2>
					<span>
		        		国内功能很强大且图标内容很丰富的矢量图标库,提供矢量图标下载、在线存储、格式转换等功能。阿里巴巴体验团队倾力打造,设计和前端开发的便捷工具国内功能很强大且图标内容很丰富的矢量图标库,提供矢量图标下载、在线存储、格式转换等功能。阿里巴巴体验团队倾力打造,设计和前端开发的便捷工具
		        	</span>
				</div>
			</div>

		</div>
		<div class="content container">
			<div class="row">
				<div class="col-sm-4 col-md-4 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
					<div class="xm-js">
						<img src="img/item-1.gif">
						<h3 class="title xm-title">
							<span>项目名称</span>
						</h3>
						<ul>
							<li>
								项目时间：2017年9月-2018年11月
							</li>
							<li>
								项目介绍：国内功能很强大且图标内容很丰富的矢量图标库,提供矢量图标下载、在线存储、格式转换等功能。阿里巴巴体验团队倾力打造,设计和前端开发的便捷工具国内功能很强大且图标内容很丰富的矢量图标库,提供矢量图标下载、在线存储、格式转换等功能。阿里巴巴体验团队倾力打造,设计和前端开发的便捷工具 国内功能很强大且图标内容很丰富的矢量图标库,提供矢量图标下载、在线存储、格式转换等功能。阿里巴巴体验团队倾力打造,设计和前端开发的便捷工具国内功能很强大且图标内容很丰富的矢量图标库,提供矢量图标下载、在线存储、格式转换等功能。阿里巴巴体验团队倾力打造,设计和前端开发的便捷工具

							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-8 col-md-8 col-lg-8">
					<p class="title xm-title blue wow fadeInRight" data-wow-delay="0.3s">
						<span>项目提供的服务</span>
					</p>
					<div class="row company-major-business xm-major wow fadeInRight" data-wow-delay="0.3s">
						<div class="col-lg-4 col-sm-4 col-md-4 marjor-list ">
							<i class="iconfont icon-yusuanfenxi"></i>
							<p>
								工程预算
							</p>
						</div>
						<div class="col-lg-4 col-sm-4 col-md-4 marjor-list">
							<i class="iconfont icon-ccgl-anzhuangfeiyong-"></i>
							<p>
								硬件安装
							</p>
						</div>
						<div class="col-lg-4 col-sm-4 col-md-4 marjor-list">
							<i class="iconfont icon-tiaoshi"></i>
							<p>
								安装调试
							</p>
						</div>

					</div>

					<p class="title xm-title blue wow fadeInRight" data-wow-delay="0.3s">
						<span>项目的优点</span>
					</p>
					<span class="merits wow fadeInRight" data-wow-delay="0.3s">
					先来看看优点：

					    加载文件体积小。
					    可以直接通过css的font-size，color修改它的大小和颜色，对于需要缩放多个尺寸的图标，是个很好的解决方案。
					    支持一些css3对文字的效果，例如：阴影、旋转、透明度。
					    兼容低版本浏览器。
					
					不过它也有局限性，不能作为css sprite的替代品，我们来看看缺点：
					
					    矢量图只能是纯色的。
					    制作门槛高，耗时长，维护成本也很高。

				</span>
				
				
				<p class="title xm-title blue wow fadeInRight" data-wow-delay="0.3s">
						<span>项目展示</span>
					</p>
					<div class="photo  wow fadeInUp" data-wow-delay="0.3s">
						<div class="col-sm-4">
							<img src="img/item-1.gif">
						</div>
						<div class="col-sm-4">
							<img src="img/item-1.gif">
						</div>
						<div class="col-sm-4">
							<img src="img/item-1.gif">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="com-sm-4 col-md-4 col-lg-4 companyinfo">
						<img src="img/logo.png">
						<p class="companyname">
							西西里上海投资商会有限公司
						</p>
						<ul>
							<li>
								电话：+39 095 8362458 +39 327 027 8568
							</li>
							<li>传真：0769-38991872</li>
							<li>邮箱：investimentisici</li>
							<li> liaeshanghai@gmail.com</li>
							<li>地址: Via Umberto ，354 </li>
						</ul>
					</div>
					<div class="com-sm-5 col-md-5 col-lg-5">
						<p class="footer-title">信息<i>简报</i></p>
						<ul class="artcle-list">
							<li>
								<a href="#">
									<img src="img/item-2.jpg">
									<span>
										公司以往和近期所引进和研发的各……
									</span>
									<b>2017/11/30</b>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/item-2.jpg">
									<span>
										公司以往和近期所引进和研发的各……
									</span>
									<b>2017/11/30</b>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/item-2.jpg">
									<span>
										公司以往和近期所引进和研发的各……
									</span>
									<b>2017/11/30</b>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/item-2.jpg">
									<span>
										公司以往和近期所引进和研发的各……
									</span>
									<b>2017/11/30</b>
								</a>
							</li>
						</ul>
					</div>
					<div class="com-sm-3 col-md-3 col-lg-3">
						<p class="footer-title">快速<i>导航</i></p>
						<ul class="fastnav">
							<li>
								<a href="javascript:;">首页</a>
							</li>
							<li>
								<a href="javascript:;">关于</a>
							</li>
							<li>
								<a href="javascript:;">案例</a>
							</li>
							<li>
								<a href="javascript:;">服务</a>
							</li>
							<li>
								<a href="javascript:;">联系</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<p>西西里上海投资商会有限公司 版权所有</p>
				<p>公司税号：PI./C.F.:05451750870 R.E.A.:36417</p>
			</div>
		</div>
		<script src="js/jquery-1.11.0.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script src="http://cdn.dowebok.com/131/js/wow.min.js"></script>
		<script>
			if(!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
				new WOW().init();
			};
		</script>
	</body>

</html>